
<div class="container" id= "containerCompartir">
  <div class="card " style="width: 100%">
    <h4 class="Comentarios">
      Compartir:
      <table class="TablaCompartir">
        <tr>
          <td>

            <a href="https://twitter.com/?lang=es"> <img src="https://image.flaticon.com/icons/png/512/174/174876.png"
                width="20%" /></a>
          </td>

          <td>
            <a href="https://www.whatsapp.com/"> <img src="https://image.flaticon.com/icons/png/512/174/174879.png"
                width="20%" /></a>
          </td>

          <td>
            <a href="https://www.instagram.com/"> <img src="https://image.flaticon.com/icons/png/512/174/174855.png"
                width="20%" /></a>
          </td>

          <td>
            <a href="https://www.facebook.com/"> <img src="https://image.flaticon.com/icons/png/512/174/174848.png"
                width="20%" /></a>
          </td>

        </tr>

      </table>
      
    </h4>
    
  </div>
</div>